html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


body{
  background-image:url("background.png"); 
  background-color: white;
  font-family: 'Righteous', cursive;
}

.photobooth {
  /*background: white;*/
  width: 100%;
  margin: 2rem auto;
  border-radius: 2px;
  float: left;
  display: flex;
  flex-direction: row;
  max-height: 90vh;
}
.controls{
  display: flex;
  flex-direction: column;
  margin-right: 2vw;
}

/*clearfix*/
.photobooth:after {
  content: '';
  display: block;
  clear: both;
}

.photo {
  width: 90%;
  height:70%;
  padding-top:0; 
  border:1vw  solid rgba(125,230,0,0.5);
  border-radius:3px; 
  /*float: left;*/
}

.booth{
  display: flex;
  flex-direction: column;
 /*justify-content: center;*/
  margin-left: 2vw;
  /*overflow: auto;*/
  flex-grow:1;
  flex-wrap: wrap;
}

.player {
  /*position: absolute;*/
  top: 20px;
  right: 20px;
  width:90%;
  height :70%;
}
.but{
  width: 20vw;
    height: 10vw;
    margin-left: 2vw;
    margin-top: 2vw;
    border-radius: 3vw;
    background-color: #ffcc99;
    font-size:2.5vw;
    outline: none;
    box-shadow: 0 9px #888;
}


.but:active {
  background-color: #ffddAA;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
/*
  Strip!
*/
.break{
  flex-basis: 100%;
  width:0;
}

.strip {
  padding: 2rem;
  /*border: 2px solid white;*/
  width: 90%;
  height: 25%;
  margin-top: 2.5%;
  overflow-y: auto;
}

.strip img {
  width: 100px;
  overflow-x: scroll;
  padding: 0.8rem 0.8rem 2.5rem 0.8rem;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  background: white;
}

.strip a:nth-child(5n+1) img { transform: rotate(10deg); }
.strip a:nth-child(5n+2) img { transform: rotate(-2deg); }
.strip a:nth-child(5n+3) img { transform: rotate(8deg); }
.strip a:nth-child(5n+4) img { transform: rotate(-11deg); }
.strip a:nth-child(5n+5) img { transform: rotate(12deg); }
